<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwtQR8WCpL6ndHvuLaae8QwjFyuxw-X_8</string>
	<key>GCM_SENDER_ID</key>
	<string>930344622459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medipointFinal</string>
	<key>PROJECT_ID</key>
	<string>medipoint-90241</string>
	<key>STORAGE_BUCKET</key>
	<string>medipoint-90241.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930344622459:ios:bc91fbf9275969fef405de</string>
</dict>
</plist>